# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Quarkus
target/
*.log

# Sensitive files
access.sh
.env
*.zip

# VS Code
.vscode/


# Terraform files for EC2 and Quarkus setup
**/EC2InstallQuarkus.tf